.form-infomation-w {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;

  .inner-form {
    margin: 12px auto;
    padding: 10px;
    background-color: $header-color;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border: 1px solid #eee;
    height: 130px;
    width: auto;
    border-radius: 19px;
    .title {
      font-size: 1.2rem;
      color: #eee;
      font-family: 'Poppins', sans-serif;
      text-align: center;
    }
    .text-w {
      margin-top: 10px;
      font-family: 'Roboto Slab', serif;
      color: #eee;
    }
    .btn-suw {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      .btn-exit {
        background-color: rgb(250, 73, 73);
        color: #fff;
      }
      .btn-add {
        background-color: rgb(55, 180, 30);
        color: #fff;
      }
      button[type='button'] {
        padding: 5px 20px;
        margin-left: 10px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
.notification_wq_te {
  bottom: 120px;
  //   border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 30px;
  width: 370px;
  background: #fff;
  .flex_text_notifa {
    position: relative;
    padding: 6px;
    display: flex;
    .image_op {
      max-width: 120px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .close_wq {
      position: absolute;
      right: 7px;
      font-size: 1rem;
      cursor: pointer;
      color: rgb(252, 49, 49);
    }
    .col_row_text_q {
      margin-left: 6px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title_pro {
        line-height: 20px;
        font-size: 0.9rem;

        p {
          word-break: break-word;
          color: black;
          font-weight: bold;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          overflow: hidden;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .ww_inro {
          color: rgb(226, 12, 12);
        }
        div {
          color: rgb(0, 102, 236);
        }
      }
      .price_pro {
      }
    }
  }
}
