.form-infomation-w {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;

  .inner-form {
    margin: 12px auto;
    padding: 10px;
    background-color: $header-color;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border: 1px solid #eee;
    height: 130px;
    width: auto;
    border-radius: 19px;
    .title {
      font-size: 1.2rem;
      color: #eee;
      font-family: 'Poppins', sans-serif;
      text-align: center;
    }
    .text-w {
      margin-top: 10px;
      font-family: 'Roboto Slab', serif;
      color: #eee;
    }
    .btn-suw {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      .btn-exit {
        background-color: rgb(250, 73, 73);
        color: #fff;
      }
      .btn-add {
        background-color: rgb(55, 180, 30);
        color: #fff;
      }
      button[type='button'] {
        padding: 5px 20px;
        margin-left: 10px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
